<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>TYPE_OF_BILL</th>
      <th>NAME</th>
      <th>COMPANY_NAME</th>
      <th>INVOICE_NO</th>
      <th>DATE</th>
      <th>TAX_TYPE</th>
      <th>TAX_RATE</th>
      <th>DESCRIPTION</th>
      <th>AMOUNT</th>
      <th>ADDRESS</th>
      <th>STATE</th>
      <th>COUNTRY</th>
      <th>EMAIL</th>
      <th>MOBILE</th>
      <th>TIME</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>19/12/2019</td>
      <td></td>
      <td></td>
      <td>LPG SUPERGAS,SEAL 20MM TAMPER PROOF FOR 11KG &amp; 14KG \n CYLS \n KRISTOSS DAVIS \n 54 LYNHURST ROAD \n KINGSTON</td>
      <td>2,925.00,JA$2,925.00,JA$2,925.00</td>
      <td>107 OLD HOPE ROAD \n KINGSTON 6KENNETH BENJAMIN/ VALRIE BROWN,107 OLD HOPE ROAD \n KINGSTON 6593-595 Spanish Town Road</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>